html,body{
    padding:0;
    margin:0;
    overflow-x: hidden;
    background-color:var(--paper);
}
:root{
    --gold:#C0B283;
    --silk:#DCD0C0;
    --paper:#F4F4F4;
    --charcoal:#373737;
    --pink:#ddc3cb;
}
/*Landing Page*/
#landing-page{
    width:100%;
    height:100%;
    background-color: var(--pink);
    text-align: center;
}
.landing-logo-wrapper{
    position: absolute;
    right: 0;
    top:0;
    width: 100%;
    height: 100%;
}
.landing-logo{
    z-index: 2;
    position: relative;
    width: 37vw;
    top: 43%;
}
.ladning-model{
    display: inline-block;
    position: relative;
    z-index: 0;
    width: 101%;
    height:100%;
    filter: blur(3px);
}
.landing-name-wrapper{
    position: absolute;
    bottom: 5%;
    width: 100%;
    padding: 0;
    margin: 0;
}
.landing-name{
    font-family: "Roboto",sans-serif;
    font-weight: bolder;
    color: var(--charcoal);
    font-size: 2vmax;
    letter-spacing: 1vmax;
    border-bottom: 5px solid;
    border-top: 5px solid;
    padding: 1.5vmax 3vmax;
    background-color: #dbc2c896;
    display: inline-block;
}