html,body{
    padding:0;
    margin:0;
    background-color:var(--paper);
}

:root{
    --gold:#C0B283;
    --silk:#DCD0C0;
    --paper:#F4F4F4;
    --charcoal:#373737;
    --pink:#ddc3cb;
}
/*Nav*/
nav{
    width:100%;
    position: absolute;
    top:1em;
    z-index: 3;
}
.nav-pages{
    float:left;
    text-align: left;
    list-style: none;
    margin: 0;
    padding:0;
    margin-left: 2vmax;
}
.nav-item{
    display: inline-block;
    margin: 0 1vmax;
    padding: 1.5vmax 0.5vmax;
    cursor: pointer;
}
.nav-item a{
    font-size: 1.3vmax;
    color: var(--paper);
    font-family: "Roboto",sans-serif;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5vmax 0.5vmax;
}
.nav-item:after {
    display:block;
    content: '';
    margin-top:6px;
    border-bottom:3px solid var(--paper);
    transform: scaleX(0);  
    transition: transform 175ms ease-in-out;
}
.nav-item:hover:after { transform: scaleX(1); }
/*Landing Page*/
#landing{
    width:100%;
    height:100%;
    background-color: var(--pink);
    text-align: center;
    overflow-x: hidden;
}
.landing-logo-wrapper{
    position: absolute;
    right: 0;
    top:0;
    width: 100%;
    height: 100%;
}
.landing-logo{
    z-index: 2;
    position: relative;
    width: 45vw;
    top: 37%;
}
.ladning-model{
    display: inline-block;
    position: relative;
    z-index: 0;
    width: 101%;
    height:100%;
    filter: blur(4px);
}
.landing-name-wrapper{
    position: absolute;
    bottom: 5%;
    width: 100%;
    padding: 0;
    margin: 0;
}
.landing-name{
    font-family: "Raleway",sans-serif;
    font-weight: bolder;
    color: var(--charcoal);
    font-size: 2vmax;
    letter-spacing: 1vmax;
    border-bottom: 5px solid;
    border-top: 5px solid;
    padding: 1.5vmax 3vmax;
    background-color: #dbc2c896;
    display: inline-block;
}
/*Portfolio Page*/
#portfolio{
    width:100%;
    text-align: center;
}
.portfolio-images-wrapper{
    list-style: none;
    padding:0;
    width: 95%;
    display: inline-table;
    margin: 2em 0;
}
.portfolio-img-item{
    display: inline-block;
    width: 33.3%;
    height: 30vmax;
    border-radius: 3em;
}
.portfolio-img-item img{
    width:100%;
    height:100%;
}
/*About Page*/
#about{
    width: 95%;
    height: 34.5vmax;
    position: relative;
    left: 2.5vmax;
    border-bottom: 2px solid;
    border-top: 2px solid;
    display:none;
}
.about-headshot{
    width: 24vmax;
    border-radius: 6px;
    position: relative;
    left: 8vmax;
    top: 5vmax;
}
/*Contact Page*/
#contact{
    display:none;
    width:100%;
    height:100%;
}


/*Mobile Stuff*/
@media only screen and (max-width:650px){
    /*Nav*/
    .nav-pages{
        width: 100%;
    }
    .nav-item{

    }
    .nav-item a{
        font-size: 4vmin;
    }
    /*Landing*/
    .landing-logo{width: 95%;}
    .landing-name-wrapper{}
    .landing-name{
        font-size: 4vmin;
    }
    
    /*Portfolio*/
    .portfolio-images-wrapper{
        width: 95%;
        margin: 3% 0;
    }
    .portfolio-img-item{
        width: 50%;
        height: 56vmin;
    }

    /*About*/

    
    /*Contact*/
}